.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Nav {
  background-color: rgb(107, 93, 198);
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px
}

Nav a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.dogContainer{
  display:flex;
  justify-content: space-between;
}
.dog{
  display: inline-block;
  margin: 30px;
}
.dog a{
  color: #007bff;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: 500;
}
.dog img{
  width: 150px;
  height: 150px;
  border: 8px solid slateblue;
  border-radius: 50%;
}